* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 296px;
  background-color: black;
}

.logo {
  margin-top: 3px;
  width: 100%;
  height: 800px;
  position: absolute;
  margin-right: 500px;
}

ul {
  padding-left: 650px;
  padding-top: 130px;
}

li {
  font-family: "Lily Script One", cursive;
  display: inline-block;
  padding-left: 100px;
  padding-bottom: 100px;
  font-size: 35px;
  color: white;
}

figure {
  display: inline-block;
  padding-left: 180px;
}

.primeira {
  width: 1700px;
  height: 500px;
  margin-top: 900px;
  margin-left: 100px;
}


.segunda {
  width: 1710px;
  height: 600px;
  margin-top: 150px;
  padding-left: 100px;
}



.iconMain{
  height: 513px;
  width: 353px;
  border-radius: 61px;
  border: 3px solid;
  
}

footer {
  width: 100%;
  color: white;
  background-color: black;
  font-family: "Actor", sans-serif;
  display: flex;
  font-style: normal;
  font-weight: 400;
  align-items: center;
  font-size: 19px;
  padding-right: 300px;
  text-align: center;
}


.icon {
  position: absolute;
  width: 50px;
  height: 50px;
}

.final {
  width: 300px;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

p {
  padding-top: 80px;
}
li {
  transition: color 0.3s ease;
}
li:hover {
  color: yellow;
}

img {
  transition: color 0, 3s ease;
}

.icon:hover {
  transition: 240ms;
  opacity: 0.7;
}

.iconMain:hover{
  opacity: 0.9;
  transition: 240ms;
  scale: 1.1;
}

.cabeçalho:hover{
  transition: 240ms;
  opacity:0.7;
  scale: 1.02;

}